.logo-container {
  width: 150px;
  display: flex;
  justify-content: space-around;
  margin-left: 1.8em;
  margin-top: 1.8em;
}
.logo {
  color: #fff;
  font-size: larger;
  font-weight: bold;
}
.img-logo {
  height: 20px;
  width: 20px;
  background-image: url("../../../common/assets/logo/logo.png");
  background-size: cover;
}
medi .site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.header-style {
  box-shadow: 0 8px 8px -8px black;
  background-color: var(--gray);
  display: flex;
  justify-content: space-between;
}
.nav-title {
  font-size: large;
  font-weight: bold;
  margin-left: 2em;
}
.languages {
  display: inline;
  margin-right: 1em;
}
.button_lang {
  background-color: #444;
  color: #fff;
  font-size: smaller;
  padding: 5px 12px;
  border-radius: 5px;
  margin-right: 0.5em;
  margin-left: auto;
  transition: background-color 0.3s ease-in-out;
}
.button_lang:hover,
.current_lang {
  background-color: #777;
  transition: background-color 0.3s ease-in-out;
}

.logout {
  margin-left: 0.5em;
  margin-top: 3em;
}
