@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,400;1,300&display=swap");

.illustrations-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 2%;
}
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 680px) {
  .illustrations-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 4%;
  }
}