@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,400;1,300&display=swap");

.illustrations-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 2%;
}
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

.bluesection-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #202740;
  height: 200px;
  width: 100vw;
  margin-top: -20%;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 680px) {
  .illustrations-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 4%;
  }

  .bluesection-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #202740;
    height: 300px;
    width: 100vw;
    margin-top: -70%;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
}

@media screen and (max-width: 450px) {
  
  .bluesection-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #202740;
    height: 200px;
    width: 100vw;
    margin-top: -90%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: bold;
  }
}

