<<<<<<< HEAD

.illustrations-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 2%;
}
=======
html{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
  }
>>>>>>> 4d1721ac4f4efcb2785948d3456ed5dd6a2aa179
