.container-auth-admin{
    height: 100vh;
    background-image: url("../../assets/images/geometric-material-yellow-blue-4k-18-2932x2932.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-auth-admin{
    color: white;
    flex-basis: 375px;
    min-width: 300px;
}
.box-Logo{
    display: flex;
    justify-content: center;
}
.box-inputs{
    border-radius: 8px;
    margin-top: 30px;
    background-color: rgba(55, 55, 25, .5);
    padding:20px 15px 40px;
}
.box-inputs input{
    color: black;
}