.container-auth-admin{
    position: relative;
    height: 100vh;
    background-image: url("../../assets/images/geometric-material-yellow-blue-4k-18-2932x2932.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-auth-admin input{
    color: white !important;
}
.box-auth-admin{
    color: white;
    flex-basis: 375px;
    min-width: 300px;
}
.box-Logo{
    display: flex;
    justify-content: center;
}
.box-inputs{
    border-radius: 8px;
    margin-top: 30px;
    background-color: rgba(55, 55, 25, .5);
    padding:20px 15px 40px;
}
.box-inputs input{
    color: black;
}
.container-feedback{
    position: absolute;
    top: 15px;
    right: 0px;
}   
.container-feedback .box-success{
    animation: feedBackBox .3s linear 0s;
}
.container-feedback .box-error{
    animation: feedBackBox .3s linear 0s;
}
@keyframes feedBackBox {
    0%{
        margin-right: -350px;
    }
    100%{
        margin-right: 20px;
    }
    
}