.scroll-helper {
        position: absolute;
        overflow: auto;
    }
    
    
.cards-container {
    overflow-x: auto;
    white-space: nowrap;
    height:420px;
    cursor: pointer;

}

@media screen and (max-width: 680px) {
    
    .cards-container {
        overflow-x: auto;
        white-space: nowrap;
        height:450px;
        cursor: pointer;
        margin-top: 0.5%;
    
    }


}


