.link-menu {
    transition: 0.2s;
    cursor: pointer;
    transform: scale(1);
}

.link-menu:hover{
    color: #ffeba8 !important;
    transform: scale(1.05) !important;
}

.menu{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    color: var(--primary);
    animation: open 0.8s forwards;
}

@keyframes open {
    from{
        height: 0;
        opacity: 0;
    }
    to{
        height: 200px;
        opacity: 1;
    }
}