@tailwind base;
@tailwind components;
@tailwind utilities;

/* START COMMON CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --primary: #FFE714;
    --secondary: #202740;
    --gray: #e5e5e5;
}


.font-primary{
    font-family: 'Poppins', sans-serif;
}

.color-primary{
    color: var(--primary)
}

.color-secondary{
    color: var(--secondary)
}

.bg-primary{
    background-color: var(--primary);
}

.bg-secondary{
    background-color: var(--secondary);
}

.color-gray {
    color: #e5e5e5
}

/* END COMMON CSS */