@tailwind base;
@tailwind components;
@tailwind utilities;

/* START COMMON CSS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
	--primary: #ffe714;
	--secondary: #202740;
	--gray: #e5e5e5;
	--white: #ffffff;
	--red:#ee0909;
}

.font-primary {
	font-family: "Poppins", sans-serif;
}

.background-error{
	background-color: var(--red);
}

.color-error {
	color: var(--white);
}

.color-primary {
	color: var(--primary);
}

.color-secondary {
	color: var(--secondary);
}

.bg-primary {
	background-color: var(--primary);
}

.bg-secondary {
	background-color: var(--secondary);
}

.bg-tertiary {
	background-color: var(--gray);
}

.bg-gradient {
	background: rgb(255, 231, 20);
	background: linear-gradient(
		180deg,
		rgba(255, 231, 20, 1) 17%,
		rgba(227, 191, 0, 1) 100%
	);
}

.bg-gradient-secondary{

	background: linear-gradient(
		3deg,
		rgba(32, 39, 64, 1) 17%,
		rgba(119, 135, 192, 1) 100%
	);
}

.color-gray {
	color: #e5e5e5;
}

.bg-gray {
	background-color: #e5e5e5;
}

.underlined{
    position: relative;
}

.underlined::after{
    position: absolute;
    bottom: 0;
    height: 10px;
    width: 50px;
    background-color: #ffe714;
}

.scale-in-hover {
    transform: scale(1);
    transition: 0.2s;
}

.scale-in-hover:hover{
    transform: scale(1.03)
}

/* END COMMON CSS */


p {
    margin-bottom: 0 !important
}

a{
	color: inherit !important;
	text-decoration: none !important;
}

h1{
    margin-bottom: 0 !important;
}
