@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,400;1,300&display=swap');

.illustration-text {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 5%;
    }

.single-animation {
    text-align: center;
}

.margin {
    margin-top: 2%;
}

@media screen and (max-width: 680px) {
    .single-animation {
        margin-top: 10%;
    }
}