.BusinessUsers-background {
    display: flex;
    justify-content: center;
}

.BusinessUsers-background a{
    color: #008dff !important
}


.container-BusinessUsers{
    padding: 10px;
    background-color: white;
    height: calc(100vh - 200px);
    border-radius: 10px;
    overflow-y: auto;
}